.content{
    color:  #9899a3;
}

strong{
    color: rgb(236, 221, 106);
}

.list-group-item{
    background-color:rgb(236, 221, 106)!important;
    margin-top: 10px !important;
    border: none !important;

}