.modal-content{
    background-color: rgb(13, 12, 12) !important;
    padding: 2rem !important;
}


.modal-header{
    color: white;
}


.btn-close{
    background-color: rgb(240, 207, 19) !important;
}