.remove-button{
    margin-left: 3rem;
    
}

.remove-button:hover{
    border-radius: 0;
    background-color: rgba(211, 211, 211, 0.081);
    color: rgb(42, 42, 198);

}

img{
    margin-left: 5px;
}

.btn{
    color: #2737c5 !important;
}

.btn:hover{
    color: black !important;
}